@use "/src/app/commons/base/colors" as colors;
@use "/src/app/commons/utilities/utilities" as utilities;
@use "/src/app/commons/base/breakpoints" as breakpoints;

.home-component {
  display: flex;
  background: colors.$background;
  width: 100%;
  min-height: 100vh;

  &__container {
    display: flex;
    width: 70%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    flex-direction: column;

    @include breakpoints.medium {
      width: 95%;
    }
  }

  &__form {
    display: flex;
    gap: 16px;
    padding: 30px 0;
    flex-direction: column;
  }

  &__card {
    border-radius: 12px;
    background-color: colors.$white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    gap: 30px;
    display: flex;

    @include breakpoints.medium {
      gap: 5px;
    }

    &--more {
      flex-direction: column;
    }
  }

  &__inputs {
    display: flex;
    gap: 30px;

    @include breakpoints.medium {
      gap: 5px;
    }
  }

  &__element {
    width: 50%;
  }

  &__textarea {
    width: 100%;
  }

  &__option {
    gap: 20px;
    @include utilities.myhotel-flexbox-param(flex, center, flex-start);
  }

  &__status {
    width: 8px;
    height: 8px;
    border-radius: 100%;

    &--green {
      background: colors.$green;
    }

    &--yellow {
      background: colors.$yellow;
    }

    &--red {
      background: colors.$red;
    }
  }
}
